sqsh

.gdb_history
.clangd/

Doxyfile
*.stamp
man/
html/

compile_commands.json

.deps/
.libs/
autom4te.cache
autom4te.cache/

config.h
config.status
config.log
libtool
install.sh
make_wrapper.sh
stamp-h1

Makefile

*.o
